.hidden
	display: none

.edit-workout
	margin-left: 15px

.edit-mode
	display: none

.show-edit-mode .edit-mode
	display: block

.show-edit-mode .display-mode
	display: none

.workout
	margin: 10px 0

.meta-section
	color: gray

#message-container
	margin-bottom: 10px
